{% extends 'Projects/base.html' %} {% load static %}{% block title %}Projects
Task - Img{%endblock %} {%block h1%}
<h1>Carga de Imagen</h1>
{% endblock%} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_form_create.css' %} "
/>
{% endblock%}{% block content %}
<div class="form-container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ IMG_AVATAR.as_p }}
    <button type="submit">Cargar Avatar</button>
    <div class="card-body" >
      <a href="{% url 'home' %}">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
