{% extends 'Projects/base.html' %} {% load static %}{% block title %}Projects
Task - Ingreso{%endblock %} {%block h1%}
<h1>Bienvenido a Projects Tasks</h1>
{% endblock%} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_form_create.css' %} "
/>
{% endblock%}{% block content %}
<div class="form-container">
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %} {{ FORM_LOGIN.as_p }}
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}
