{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} xxxxxxx {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'Projects/css/styles_title.css' %} " />
  </head>
  <body>
    <header>
      <div class="header-container">{% block h1 %} {% endblock h1 %}</div>
    </header>
    <nav>
      <div class="left-menu">
        {% block nav %} {% endblock nav %}
      </div>
      {% if user.is_authenticated %}
      <div class="right-menu">
        <ul>
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        </ul>
        <ul>
          <li><a href="{% url 'edit_user' %}">{{ user|upper }}</a></li>
        </ul>
        <ul>
          {% if user.avatar.image %}
          <li><img src="{{ user.avatar.image.url }}" alt="Avatar" style="height: 18px; width: 18px; border-radius: 50%;"></li>
          {% endif %}
        </ul>
        <ul>
          <li><a href="{% url 'avatar_add' %}">IMG</a></li>
        </ul>
      {% else %}
      <div class="right-menu">
        <ul>
          <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
        <ul>
          <li><a href="{% url 'create_user' %}">CREAR USUARIO</a></li>
        </ul>
      </div>
      {% endif %}
    </nav>
    <main>{% block content %} {% endblock content %}</main>
    </div>
  </body>
  <footer>
      <div class="background">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="100%"
          height="100%"
          viewBox="0 0 1600 900"
        >
          <defs>
            <path
              id="wave"
              fill="rgba(105, 27, 252, 0.6)"
              d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
      s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z"
            />
          </defs>
          <g>
            <use xlink:href="#wave" opacity=".4">
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                dur="8s"
                calcMode="spline"
                values="270 230; -334 180; 270 230"
                keyTimes="0; .5; 1"
                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                repeatCount="indefinite"
              />
            </use>
            <use xlink:href="#wave" opacity=".6">
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                dur="6s"
                calcMode="spline"
                values="-270 230;243 220;-270 230"
                keyTimes="0; .6; 1"
                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                repeatCount="indefinite"
              />
            </use>
            <use xlink:href="#wave" opacty=".9">
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                dur="4s"
                calcMode="spline"
                values="0 230;-140 200;0 230"
                keyTimes="0; .4; 1"
                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                repeatCount="indefinite"
              />
            </use>
          </g>
        </svg>
      </div>
      <section>
        <ul class="socials">
          <li><a class="fa-brands fa-x-twitter"></a></li>
          <li><a class="fa-brands fa-facebook"></a></li>
          <li><a class="fa-brands fa-linkedin"></a></li>
        </ul>
        <ul class="links">
          <li><a href="https://www.linkedin.com/in/matiasagustingonzalez" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/MatiasAgustinGonzalez" target="_blank">GitHub</a></li>
          <li><a href="https://www.instagram.com/_matiagus" target="_blank">Instagram</a></li>
        </ul>
        <p class="legal">© 2024 All rights reserved</p>
      </section>
    </footer>
</html>