{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} xxxxxxx {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'Projects/css/styles_title.css' %} " />
  </head>
  <body>
    <header>
      <div class="header-container">{% block h1 %} {% endblock h1 %}</div>
    </header>
    <nav>
      <div class="left-menu">
        {% block nav %} {% endblock nav %}
      </div>
      {% if user.is_authenticated %}
      <div class="right-menu">
        <ul>
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        </ul>
        <ul>
          <li><a href="{% url 'edit_user' %}">{{ user|upper }}</a></li>
        </ul>
      {% else %}
      <div class="right-menu">
        <ul>
          <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
        <ul>
          <li><a href="{% url 'create_user' %}">CREAR USUARIO</a></li>
        </ul>
      </div>
      {% endif %}
    </nav>
    <main>{% block content %} {% endblock content %}</main>
    </div>
  </body>
</html>