{% extends 'Projects/base.html' %} {% load static %} {% block title %}Projects
Task - Filtro {% endblock %} {% block h1 %} {% if filtro_tipo %}
<h1>Listado de Proyectos | Filtrado por {{ filtro_tipo }}</h1>
{% endif %} {% endblock %} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_list_cards.css' %}"
/>
<ul>
  <li><a href="{% url 'list_cards' %}">REGRESAR</a></li>
</ul>

{% endblock %} {% block content %}
<div class="card-container">
  {% for tarjeta in TARJETAS_FILTER %}
  <div class="card">
    <div class="card-header">
      <span class="tag">{{ tarjeta.lider }}</span>
      <span class="tag">{{ tarjeta.sponsor }}</span>
    </div>
    <h2>{{ tarjeta.titulo }}</h2>
    <p>{{ tarjeta.descripcion }}</p>
    <div class="card-footer">
      <h3 data-estado="{{ tarjeta.estado }}">{{ tarjeta.estado }}</h3>
      <a href="" class="btn-detail">Ver Detalle</a>
    </div>
  </div>
  {% empty %}
  <p>No hay proyectos disponibles.</p>
  {% endfor %}
</div>
{% endblock %}
