{% extends 'Projects/base.html' %} {% load static %} {% block title %}Projects
Task - Eliminar{%endblock %} {%block h1%}
<h1>{{ TARJETAS.titulo }}</h1>
{% endblock%} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_delete_cards.css' %}"
/>
{% endblock%}{% block content %}
<div class="confirmation-message">
  <form method="post">
    {% csrf_token %}
    <h1>Eliminación de Tarjeta</h1>
    <p>
      ¿Esta seguro que quiere eliminar ésta tarjeta "{{ TARJETAS.titulo }}"?
    </p>
    <input type="submit" value="Confirmar Borrar" />
    <a href="{% url 'detail_cards' TARJETAS.id %}">Cancelar</a>
  </form>
</div>
{% endblock %}
