{% extends 'Projects/base.html' %} {% load static %} {% block title %}Projects
Task - Listado{%endblock %} {%block h1%}
<h1>Listado de Proyectos</h1>
{% endblock%} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_list_cards.css' %} "
/>
<div class="left-menu">
  <div class="dropdown">
    <button class="dropbtn">GENERAL</button>
    <div class="dropdown-content">
      <a href="/Projects/">Principal</a>
      <a href="/admin/">Admin</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">ACCION</button>
    <div class="dropdown-content">
      <a href="{% url 'create_lider' %}">Crear Lider</a>
      <a href="{% url 'create_sponsor' %}">Crear Sponsor</a>
      <a href="{% url 'create_cards' %}">Crear Proyecto</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">VISUALIZACION</button>
    <div class="dropdown-content">
      <a href="">Listado Lider</a>
      <a href="">Listado Sponsor</a>
      <a href="">Buscar Sponsor</a>
      <a href="">Buscar Lider</a>
    </div>
  </div>
</div>
<div class="right-menu">
  <ul>
    <li><a href="">LOGOUT</a></li>
  </ul>
  <ul>
    <li><a href="">USUARIO</a></li>
  </ul>
</div>
{% endblock%} {% block content %}
<div class="card-container">
  {% for tarjeta in TARJETAS_LIST %}
  <div class="card">
    <div class="card-header">
      <a href="{% url 'filter_lider' tarjeta.lider.nombre %}" class="tag"
        >{{ tarjeta.lider }}</a
      >
      <a href="{% url 'filter_sponsor' tarjeta.sponsor.nombre %}" class="tag"
        >{{ tarjeta.sponsor }}</a
      >
    </div>
    <h2>{{ tarjeta.titulo }}</h2>
    <p>{{ tarjeta.descripcion }}</p>
    <div class="card-footer">
      <h3 data-estado="{{ tarjeta.estado }}">{{ tarjeta.estado }}</h3>
      <a href="{% url 'detail_cards' tarjeta.id %}" class="btn-detail"
        >Ver Detalle</a
      >
    </div>
  </div>
  {% empty %}
  <p>No hay proyectos disponibles.</p>
  {% endfor %}
</div>
{% endblock content %}
