{% extends 'Projects/base.html' %} {% load static %} {% block title %} Projects
Task - Editar {% endblock %} {% block h1 %}
<h1>Editar Sponsor: {{ SPONSOR.nombre }}</h1>
{% endblock %} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_form_create.css' %}"
/>
<div class="dropdown">
  <button class="dropbtn">ACCION</button>
  <div class="dropdown-content">
    <a href="{% url 'list_sponsor' %}">Regresar</a>
  </div>
</div>
{% endblock %} {% block content %}
<div class="form-container">
  <form method="post">
    {% csrf_token %}
    <div class="container">
      <div class="card-header">Datos del Sponsor</div>
      <div class="card-body">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'list_sponsor' %}">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
