{% extends 'Projects/base.html' %} {% load static %}{% block title %}Projects
Task - Creación{%endblock %} {%block h1%}
<h1>Creación de Lider</h1>
{% endblock%} {% block nav %}
<link
  rel="stylesheet"
  href="{% static 'Projects/css/styles_form_create.css' %} "
/>
<ul>
  <li><a href="{% url 'list_lider' %}">REGRESAR</a></li>
</ul>
{% endblock%}{% block content %}
<div class="form-container">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}
