* {
  font-family: sans-serif;
}
.card-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.description-container {
  flex: 1 1 calc(20% - 10px); /* Tamaño del contenedor con margen */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #9bbec5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sponsor-lider-container {
  flex: 1 1 calc(5% - 10px); /* Tamaño del contenedor con margen */
  margin-bottom: 20px;
  margin-left: 20px; /* Agregamos un margen a la izquierda */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #9bbec5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details-container {
  flex: 1 1 100%; /* Ocupará toda la línea debajo */
  margin-top: 20px; /* Espaciado superior */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #9bbec5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .card-detail-container {
    flex-direction: column;
  }

  .sponsor-lider-container {
    margin-left: 0;
    margin-top: 20px;
  }
}
