* {
  font-family: sans-serif;
}

/* Estilos para el contenedor del formulario */
.form-container {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #f9f9f981;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

/* Estilos para los campos del formulario */
form input[type="text"],
form textarea,
form select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccccccb4;
  border-radius: 5px;
  transition: border-color 0.3s; /* Transición suave del color del borde */
}

/* Estilos para los campos del formulario al pasar el mouse */
form input[type="text"]:hover,
form textarea:hover,
form select:hover {
  border-color: #007bff; /* Cambia el color del borde al pasar el mouse */
}

/* Estilos para el botón de guardar */
form button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #366597;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilos para el botón de guardar al pasar el mouse */
form button[type="submit"]:hover {
  background-color: #0056b3;
}
